.usersWrap {
    color: #fff;
    max-height: 475px;
    overflow: auto;
}

.userIcon {
    width: 50px;
    height: 50px;
}

.usersPage {
    cursor: pointer;
    margin-right: 7px;
}

.usersCurrentPage {
    font-weight: bold;
    font-size: 18px;
}